@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Peyda";
  src: url("../../public/fonts/PeydaWeb-Regular.woff");
  font-weight: 400;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(0.5deg);
  }
  66% {
    transform: rotate(-0.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@font-face {
  font-family: "Peyda";
  src: url("../../public/fonts/PeydaWeb-SemiBold.woff");
  font-weight: 600;
}

@font-face {
  font-family: "Peyda";
  src: url("../../public/fonts/PeydaWeb-Black.woff");
  font-weight: 900;
}

body {
  direction: rtl;
}

.h-divider {
  border: 0.5px solid black !important;
}
